.footer {
    background-color: #000;
    color: #fff;
    padding: 35px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer p {
    margin: 8px 0;
    font-size: 16px;
  }
  